* {
	font-family: Helvetica, sans-serif;
}

body {
	font-size: 16px;
	margin: 0;
}

#heading-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#search-field {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 250px;
	height: 45px;

	margin-right: 48px;

	border-radius: 25px;
	background-color: #f6f7fc;
	border: 1px;
}

#heading {
	font-size: 3rem;
	margin-left: 48px;
}

#search-text {
	margin-left: 24px;
}

#search-icon {
	margin-right: 24px;
}

#profile {
	max-width: 18rem;
	width: 18rem;

	margin-top: 10px;
	margin-right: 5px;
}

#profile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	background-color: white;
}

#profile-icon {
	height: 125px;
	width: 125px;
	border-radius: 50px;
}

#metrics {
	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: #e7e8ec;
}

#metrics > section {
	margin: 0px 5px 0px 5px;
}

.metric-heading {
	color: #a9a9b4;
}

#post-count > *,
#reactions-count > * {
	margin: 10px 5px 10px 5px;
}

.counter {
	color: #6ca7a9;
	font-weight: bold;
}

#log-out {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

#log-out-button {
	margin-right: 10px;
	width: 75px;
	height: 35px;
	color: #6ca7a9;
	background-color: #f5f3fa;

	border: 1px solid #6ca7a9;
	border-radius: 25px;

	font-weight: bold;
}

#posts-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;

	height: 100vh;

	background-image: linear-gradient(-100deg, #a2f2f1 0%, #b19afe 100%);
}

#posts {
	max-width: 55rem;
	width: 850px;

	margin-top: 10px;
	margin-left: 5px;
}

#make-post {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 65px;

	background-color: #e7e8ec;
}

#small-profile-icon {
	width: 2rem;
	height: 2rem;

	margin-left: 48px;

	border-radius: 50px;
}

#post-field {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 680px;
	height: 45px;

	margin-right: 48px;

	border-radius: 25px;
	background-color: white;
	border: 1px;
}

#post-placeholder {
	margin-left: 24px;
	color: #97c0c2;
}

#comment-icon {
	margin-right: 24px;

	font-size: 1rem;
	color: #97c0c2;
}

#feed:last-child {
	border-bottom: none;
}

.post {
	display: flex;
	flex-direction: row;

	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	background-color: white;
}

.post > * {
	margin-top: 10px;
	margin-right: 16px;
}

.post-contents {
	display: flex;
	flex-direction: column;
	width: 46rem;
}

.author {
	display: flex;
	flex-direction: row;

	box-sizing: border-box;
}

.post-author {
	margin-top: 5px;
	margin-bottom: 0px;

	font-weight: bold;
}

.post-timestamp {
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 0px;

	color: grey;
}

#dot-separator {
	font-size: 0.3rem;

	margin-left: 5px;
	margin-right: 5px;

	color: grey;
}

#medium-profile-icon {
	width: 2.5rem;
	height: 2.5rem;

	padding-top: 8px;
	margin-left: 44px;

	border-radius: 50px;
}

.post-metrics {
	display: flex;
	flex-direction: row;
}

.post-metrics > * {
	margin-right: 3rem;
}

.likes,
.dislikes {
	margin-right: 0.3rem;
}
