* {
	font-family: Helvetica, sans-serif;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;

	margin: 0px;

	font-size: 16px;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	/* width: 100%; */
	height: 3rem;
}

#search-field {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 16rem;
	height: 2rem;

	margin-right: 3rem;

	border-radius: 25px;
	background-color: #f6f7fc;
	border: 1px;
}

#heading {
	font-size: 2.5rem;
	margin-left: 3rem;
}

#search-text {
	margin-left: 1.5rem;
}

#search-icon {
	margin-right: 1.5rem;
}

main {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;

	height: 100%;

	background-image: linear-gradient(-100deg, #a2f2f1 0%, #b19afe 100%);
}

#profile {
	max-width: 18rem;
	width: 18rem;

	margin-top: 0.5rem;
	margin-right: 0.3rem;
}

#profile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: white;
}

#profile-icon {
	height: 5rem;
	width: 5rem;
	border-radius: 50px;
}

#username {
	font-size: 1.2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#metrics {
	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: #e7e8ec;
}

#metrics > section {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}

.metric-heading {
	color: #a9a9b4;
}

#post-count > *,
#reactions-count > * {
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}

.counter {
	color: #6ca7a9;
	font-weight: bold;
}

#log-out {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

#log-out-button {
	margin-right: 10px;
	width: 4.5rem;
	height: 2rem;
	color: #6ca7a9;
	background-color: #f5f3fa;

	border: 1px solid #6ca7a9;
	border-radius: 25px;

	font-weight: bold;
}

#posts {
	max-width: 55rem;
	width: 55rem;

	margin-top: 0.5rem;
	margin-right: 0.3rem;
}

#make-post {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 4rem;

	background-color: #e7e8ec;
}

#small-profile-icon {
	width: 2rem;
	height: 2rem;

	margin-left: 3rem;

	border-radius: 50px;
}

#post-field {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 80%;
	height: 3rem;

	margin-right: 3rem;

	border-radius: 25px;
	background-color: white;
	border: 1px;
}

#post-placeholder {
	margin-left: 1.5rem;
	color: #97c0c2;
}

#comment-icon {
	margin-right: 1.5rem;

	font-size: 1rem;
	color: #97c0c2;
}

#feed:last-child {
	border-bottom: none;
}

.post {
	display: flex;
	flex-direction: row;

	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	background-color: white;
}

.post > * {
	margin-top: 0.6rem;
	margin-right: 1rem;
}

.post-contents {
	display: flex;
	flex-direction: column;
	width: 85%
}

.author {
	display: flex;
	flex-direction: row;
}

.post-author {
	margin-top: 0.3rem;
	margin-bottom: 0px;

	font-weight: bold;
}

.post-timestamp {
	display: flex;
	align-items: center;
	margin-top: 0.3rem;
	margin-bottom: 0px;

	color: grey;
}

#dot-separator {
	font-size: 0.3rem;

	margin-left: 0.3rem;
	margin-right: 0.3rem;

	color: grey;
}

.medium-profile-icon {
	width: 2.5rem;
	height: 2.5rem;

	margin-top: 0.5rem;
	margin-left: 3rem;

	border-radius: 50px;
}

.post-metrics {
	display: flex;
	flex-direction: row;
}

.post-metrics > * {
	margin-right: 3rem;
}

.likes,
.dislikes {
	margin-right: 0.3rem;
}

@media only screen and (max-width: 890px) {
	header {
		width: 90%;
	}

	main {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		padding-top: 0.5rem;
	}

	#profile {
		max-width: 90%;
		width: 90%;
		margin: 0px;
	}
	
	#profile-icon {
		width: 5.25rem;
		height: 5.25rem;
	}

	#metrics {
		height: 3.75rem;
	}

	.metric-heading {
		font-size: 0.75rem;
	}
	
	.counter {
		font-size: 1.125rem;
	}
	
	#posts {
		width: 90%;
		margin: 0px;
	}

	#make-post {
		height: 3rem;
	}

	#small-profile-icon {
		margin-left: 1.5rem;
		margin-right: 0.5rem;
	}

	#post-field {
		margin-left: 0.5rem;
		margin-right: 1.5rem;
		height: 2rem;
	}

	.post {
		min-height: 7rem;
		font-size: 0.875rem;
		padding: 0.5rem;
	}

	.post > * {
		margin-top: 0.3rem;
		margin-right: 0.5rem;
	}

	.medium-profile-icon {
		margin-left: 0.5rem;
	}

}
