* {
	font-family: Helvetica, sans-serif;
}

body {
	font-size: 16px;
}

#search-flex-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#search-field-wrapper {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 250px;
	height: 45px;

	border-radius: 25px;
	background-color: #f6f7fc;
	border: 1px;
}

#heading {
	font-size: 3rem;
}

#profile {
	height: 100vh;
	max-width: 18rem;

	/* width to be determined */
	width: 350px;

	margin-top: 10px;
}

#profile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	background-color: white;
}

#profile-icon {
	height: 125px;
	width: 125px;
	border-radius: 50px;
}

#metrics {
	display: flex;
    flex-direction: row;
    align-items: center;

	background-color: #f6f7fd;
}

#metrics > section {
    margin: 0px 5px 0px 5px;
}

.metric-heading {
    color: #a9a9b4;
}

#post-count > *,
#reactions-count > *  {
    margin: 10px 5px 10px 5px;
}

.counter { 
    color: #6ca7a9;
    font-weight: bold;
}

#log-out {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

#log-out-button { 
    margin-right: 10px;
    width: 75px;
    height: 35px;
    color: #6ca7a9;
    background-color: #f5f3fa;
    
    border: 1px solid #6ca7a9;
    border-radius: 25px;
    
    font-weight: bold;
}

#posts-flex-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-image: linear-gradient(-100deg, #a2f2f1 0%, #b19afe 100%);
}

#posts {
	height: 100vh;
	max-width: 55rem;
	width: 400px;

	margin-top: 10px;
}

#make-comment {
	height: 65px;
	/* made the color a bit darker to see */
	/* color picker from gimp gives #f6f7fc */
	background-color: #e7e8ec;
}

.post {
	background-color: white;
}

#comment-icon {
	font-size: 1rem;
	color: #97c0c2;
}
